.playground {
  height:100vh;
  width:100%;
  cursor:crosshair;
  background:url("/assets/transparent.png");
  flex:4;
}

.image{
  position:relative;
  margin:0 auto;
  max-width:80%;
}

.crop{
  margin:0 auto;
  max-width: 50px;
  max-height: 50px;
}
