  <div id ='image'
       [ngStyle]="imageStyle"
       class="image"
       (mousedown)="onMouseDown($event)"
       (mouseup)="onMouseUp($event)"
       (mousemove)="onMouseMove($event)">
    <!--<app-selection-box *ngFor="let box of selectionArray"></app-selection-box>-->
  </div>

