<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <app-playground class="playground">
  </app-playground>
  <app-sidebar class="sidebar"></app-sidebar>
  <app-modal class="modal"></app-modal>
</div>

