@import "../styles/utils/variables";

.sidebar {
  flex: 1;
  max-width: 20%;
  background: $color-white-gray;
}

.sidebar-section {
}

.section-header {
  display: flex;
  background-color: $color-white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding-bottom: 5px;
  text-transform: uppercase;
  &--title {
    padding-left: 11px;
    font-weight: 700;
  }
  &--buttons{

  }
}

.table-container {
  max-height: 200px;
  overflow: scroll;
  .table {
    padding: 0;
    margin: 0;
    width:100%;
    text-align: center;
    border-collapse: collapse;
    tr{
      cursor: pointer;
    }
    .active,tr:hover{
      background: $color-active-blue;
    }
  }
}

.no-data{
  text-align: center;
}

.image-crop{
  max-height: 50px;
  max-width: 50px;
}
