<div>
  <div class="sidebar-section">
    <div class="section-header">
      <div class="section-header--title">Objects - {{TestSubjects.length}}</div>
      <div class="section-header--buttons">
        <button>Manage</button>
      </div>
    </div>
    <div class="table-container">
      <table class="table">
        <tbody>
        <tr *ngFor="let subject of TestSubjects let i = index" [ngClass]="{'active':activeSubjectTable===i}"
            (click)="setActiveSubject(i,subject)">
          <td>{{subject.number}}</td>
          <td>{{subject.Subject}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebar-section">
    <div class="section-header">
      <div class="section-header--title">Labels - {{selectionArray.length}}</div>
      <div class="section-header--buttons">
        <button (click)="clearAllSelections()">X All</button>
        <button (click)="exportSelectionsToJSON(selectionArray)">Export</button>
      </div>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="selectionArray.length>0 ; else empty ">
        <thead>
        <tr>
          <th>#</th>
          <th>Class</th>
          <!--<th>image</th>-->
          <th>X start</th>
          <th>X end</th>
          <th>Y start</th>
          <th>Y end</th>
          <th>Tags</th>
          <th>area</th>
          <th>X</th>
          <th>S</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let selection of selectionArray let i = index" (click)="setActiveSelection(i)"
            [ngClass]="{'active':activeSelection===i}">
          <td>{{selection.number}}</td>
          <td>{{selection.class}}</td>
          <!--<td>-->
            <!--<div class="crop"></div>-->
          <!--</td>-->
          <td>{{selection.startX}}px</td>
          <td>{{selection.endX}}px</td>
          <td>{{selection.startY}}px</td>
          <td>{{selection.endY}}px</td>
          <td>{{countNumberOfTags(selection.class)}}</td>
          <td>{{getAreaSize(selection)}}</td>
          <td>
            <a href="#" (click)="deleteSelection(i)">X</a>
          </td>
          <td>
            <a href="#" (click)="hideSelection(i)">V</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebar-section">
    <div class="section-header">
      <div class="section-header--title">Alerts</div>
      <div class="section-header--buttons">
        <button>X All</button>
      </div>
    </div>
    <div class="section-table"></div>
  </div>
</div>

<ng-template #empty>
  <div class="no-data">No data</div>
</ng-template>
