<div class="modal-container">
  <div class="modal-header">
    <p>default header</p>
  </div>
  <div class="modal-body">
    <p>objects management</p>
  </div>
  <div class="modal-footer">
    default footer
    <button class="modal-action">OK</button>
  </div>
</div>
